.card:hover {
  background-color: rgb(255, 193, 7);
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 0.25rem;
  border: 0px;
  box-shadow: none;
  background-color: rgb(129, 129, 129);
  color: white;
}